/* Countdown */

.deals-countdown .countdown-section {
	position: relative;
	font-weight: 400;
	font-size: 13px;
	line-height: 1;
	padding: 14px 5px 26px 5px;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 8px;
	border: 1px solid rgb(223 226 225 / var(--tw-border-opacity));
}

.deals-countdown .countdown-section .countdown-amount {
	display: inline-block;
	color: rgb(33 49 60 / var(--tw-text-opacity));
	font-weight: 500;
	line-height: 1;
	margin-bottom: 15px;
	width: 46px;
	height: 50px;
	line-height: 50px;
	max-width: 100%;
}
.deals-countdown .countdown-section .countdown-period {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 10px;
	display: block;
	color: rgb(136 147 151 / var(--tw-text-opacity));
	width: 100%;
	text-transform: capitalize;
}
