/* Modal Box */

.modal-dialog {
	position: relative;
	width: auto;
	margin: 1.75rem;
	pointer-events: none;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1055;
	display: none;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
	margin: 0 auto;
}
.modal-backdrop {
	z-index: 1050;
	background-color: rgb(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.fade {
	transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
	transition: transform 0.3s ease-out;
	transform: translate(0, -50px);
}

.modal.show .modal-dialog {
	transform: none;
}
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin-right: auto;
		margin-left: auto;
	}
}

.modal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1.75rem * 2);
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;

	border-radius: 0.75rem;
	outline: 0;
}
