/* Navbar */

.navbar {
	padding: 0.75rem 1rem;
}
.navbar .navbar-brand {
	padding-top: 0rem;
	padding-bottom: 0.2rem;
}

.navbar .navbar-nav .nav-item .nav-link {
	line-height: 1.8;
}

@media (max-width: 992px) {
	.navbar .navbar-nav .nav-item .nav-link {
		border-bottom: 1px solid #dfe2e1;
	}
}
.navbar .dropdown-fullwidth {
	position: static;
}
.navbar .dropdown-fullwidth .dropdown-menu {
	top: 32px;
	max-width: 1320px;
	margin: 1.25rem auto;
	left: 0;
	right: 0;
	padding: 1rem 0;
}
.navbar .dropdown .dropdown-toggle:after {
	color: rgb(61 79 88 / var(--tw-text-opacity));
	margin-left: 0.375rem;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	content: '\ea5f';
	font-family: tabler-icons;
	background-repeat: no-repeat;
	background-size: 0.625rem 0.625rem;
	float: right;
	line-height: 2;
}
.navbar .dropdown-menu {
	top: 40px;
	line-height: 1.2rem;
	color: rgb(61 79 88 / var(--tw-text-opacity));
	min-width: 12rem;
	box-shadow:
		0px 0px 2px rgba(145, 158, 171, 0.2),
		0px 12px 24px -4px rgba(145, 158, 171, 0.12);
	border-radius: 0.5rem;
}
.navbar .dropdown-menu .dropdown-list-group-item {
	min-width: 100%;
}
.navbar .dropdown-menu .dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 1rem;
}
.navbar .dropdown-menu .dropdown-submenu.dropend .dropdown-menu {
	top: -18px;
	right: 0;
	left: 100%;
	min-width: 12rem;
}
.navbar .dropdown-menu .dropdown-submenuBig a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 1rem;
}
.navbar .dropdown-menu .dropdown-submenuBig.dropend .dropdown-menu {
	top: -35px;
	right: 0;
	left: 105%;
	min-width: 12rem;
}
.navbar .navbar-right-wrap .list-group-item {
	padding: 1rem 1.25rem;
}
.navbar .nav-badge {
	position: absolute;
	top: -9px;
	right: 3px;
}

@media (min-width: 1200px) {
	.navbar-default .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		transform: translateY(20px);
		transition: all 0.3s ease-in;
	}
	.navbar-default .dropdown-menu-end {
		right: 0;
		left: auto;
	}
	.navbar-default .dropdown-menu-start {
		right: auto;
		left: 0;
	}
	.navbar-default .dropdown:hover > .dropdown-menu {
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
	.navbar-default .dropdown-submenu:hover > .dropdown-menu {
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
	.navbar-default .dropdown-submenuBig:hover > .dropdown-menu {
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
}
.navbar-nav-offcanvac .nav-item .nav-link {
	border-bottom: 1px solid #dfe2e1;
}

@media (max-width: 990px) {
	.navbar-offcanvas-color .nav-item {
		width: 100%;
	}
	.navbar-offcanvas-color .nav-item .nav-link {
		color: rgb(33 49 60 / var(--tw-text-opacity));
		border-bottom: 1px solid #dfe2e1;
	}
}
.navbar .navbar-nav .nav-item .nav-link {
	line-height: 1.8;
}
.navbar .navbar-nav .nav-item .nav-link {
	display: block;
	padding: 0.5rem;

	color: rgb(33 49 60 / var(--tw-text-opacity));
	text-decoration: none;
	background: none;
	border: 0;
	transition:
		color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
	color: rgb(10 173 10 / var(--tw-text-opacity));
}
@media (max-width: 992px) {
	.navbar .navbar-nav .nav-item .nav-link {
		border-bottom: 1px solid #dfe2e1;
	}
	.navbar-nav .dropdown-menu {
		position: static;
	}
}
.navbar-offcanvas .navbar-nav .dropdown-menu {
	position: static;
}

.navbar-offcanvas .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #dfe2e1;
}

.navbar-dark .navbar-brand {
	filter: brightness(0) invert(1);
}
.navbar-dark .navbar-toggler {
	border-color: #fff;
}
.navbar-dark .navbar-toggler .icon-bar {
	background-color: #fff;
}
.navbar-dark .navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
	background-color: #fff;
}
.navbar-dark .navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-dark .navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
	background-color: #fff;
}
.navbar-dark .navbar-nav .dropdown .dropdown-toggle:after {
	@apply text-gray-400;
}
.navbar-dark .navbar-nav .nav-link {
	border-bottom: transparent;
	@media (min-width: 990px) {
		color: #fff !important;
	}
}

.navbar-vertical-nav {
	flex-shrink: 0;
	width: 280px;
}
.navbar-vertical-nav .navbar-vertical {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 0 auto;
	position: fixed;
	top: 0px;
	outline: 0px;
	left: 0px;
	border-right: 1px dashed #dfe2e1;

	z-index: 1035;
	width: 280px;
	@apply bg-white;
}
.navbar-vertical-nav .navbar-vertical .navbar-vertical-content {
	height: calc(100vh - 5.3125rem);
}
.navbar-vertical-nav .navbar-vertical .navbar-nav {
	padding: 0px 16px;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-label {
	padding: 24px 16px 8px;
	font-weight: 600;
	line-height: 1.5;
	font-size: 12px;
	text-transform: capitalize;

	@apply text-gray-500;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-link {
	margin: 0px 0px 4px;
	height: 48px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-width: 0px;
	transition: 0.3s;
	text-align: left;
	padding: 8px 12px 8px 16px;
	position: relative;
	text-transform: capitalize;
	@apply text-gray-600;
	@apply rounded-lg;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-link.disabled {
	@apply text-gray-400;
	pointer-events: none;
	cursor: not-allowed;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-link:hover {
	text-decoration: none;
	@apply bg-gray-100;
	@apply text-gray-800;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-link.active {
	@apply bg-green-50;
	@apply text-green-800;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-link .nav-link-icon {
	margin-right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-link .nav-link-text {
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-link[data-bs-toggle='collapse'] {
	position: relative;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav-link[data-bs-toggle='collapse']:after {
	display: block;
	content: '\ea5f';
	font-family: tabler-icons;
	margin-left: auto;
	transition: 0.5s ease;
	position: absolute;
	right: 1.5rem;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item [aria-expanded='true'].nav-link[data-bs-toggle='collapse']:after {
	transform: rotate(180deg);
	transition: all 0.3s ease-in;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav-link {
	position: relative;
	padding: 0.25rem 3rem;
	height: 40px;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav-link:before {
	@apply bg-gray-600;
	border-radius: 10px;
	content: '';
	height: 4px;
	opacity: 0.5;
	position: absolute;
	transition: all 0.4s ease-in-out;
	width: 4px;
	left: 22px;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav-link.disabled {
	@apply text-gray-400;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav-link:hover {
	text-decoration: none;
	@apply bg-gray-100;
	@apply text-gray-800;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav-link.active {
	@apply bg-green-50;
	@apply text-green-800;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav-item .nav-link {
	position: relative;
	padding: 0.25rem 4rem;
	height: 40px;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav-item .nav-link:before {
	@apply bg-gray-600;
	border-radius: 10px;
	content: '';
	height: 4px;
	opacity: 0.5;
	position: absolute;
	transition: all 0.4s ease-in-out;
	width: 4px;
	left: 32px;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav-item .nav-link.disabled {
	@apply text-gray-400;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav-item .nav-link:hover {
	text-decoration: none;
	@apply bg-gray-100;
	@apply text-gray-800;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav-item .nav-link.active {
	@apply bg-green-50;
	@apply text-green-800;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav .nav-item .nav-link {
	position: relative;
	padding: 0.25rem 4.3rem;
	height: 40px;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav .nav-item .nav-link:before {
	@apply bg-gray-600;
	border-radius: 10px;
	content: '';
	height: 4px;
	opacity: 0.5;
	position: absolute;
	transition: all 0.4s ease-in-out;
	width: 4px;
	left: 42px;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav .nav-item .nav-link.disabled {
	@apply text-gray-400;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav .nav-item .nav-link:hover {
	text-decoration: none;
	@apply bg-gray-100;
	@apply text-gray-800;
}
.navbar-vertical-nav .navbar-vertical .navbar-nav .nav-item .nav .nav-item .nav .nav .nav-item .nav-link.active {
	@apply bg-green-50;
	@apply text-green-800;
}

.navbar-glass {
	background-image: none;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex-shrink: 0;
	position: fixed;
	top: 0px;
	left: auto;
	right: 0px;
	@apply text-gray-600;
	box-shadow: none;
	height: 72px;
	z-index: 1034;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	background-color: rgba(255, 255, 255, 0.8);
	width: calc(100% - 280px);
	padding: 1rem;
}
@media (max-width: 1200px) {
	.navbar-glass {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.main-wrapper {
		display: flex;
		min-height: 100%;
	}
}
.main-content-wrapper {
	flex-grow: 1;
	padding: 100px 16px;
	width: calc(100% - 280px);
}
@media (max-width: 1200px) {
	.main-content-wrapper {
		width: 100%;
	}
}

.navbar-offcanvac {
	max-width: 280px !important;
}
