/* Link inside headings */

h1 > a,
.h1 > a,
h2 > a,
.h2 > a,
h3 > a,
.h3 > a,
h4 > a,
.h4 > a,
h5 > a,
.h5 > a,
h6 > a,
.h6 > a {
	@apply text-gray-800;
	text-decoration: none;
}
h1 > a:hover,
.h1 > a:hover,
h2 > a:hover,
.h2 > a:hover,
h3 > a:hover,
.h3 > a:hover,
h4 > a:hover,
.h4 > a:hover,
h5 > a:hover,
.h5 > a:hover,
h6 > a:hover,
.h6 > a:hover {
	@apply text-green-600;
}
